body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.menu{
    position: absolute;
    background: #333333;
    padding: 3px 3px 3px 3px;
    border-radius: 5px;
    right: 4px;
    top: 4px;
    height: 48px;
}

.menu-closed{
    width: 48px;
}

.menu-opened{
    left: 4px;
}

.menu-closed img{
    width: 48px;
    height: 48px;
    float:right;
}

.menu-opened img{
    width: 48px;
    height: 48px;
    float:right;
}